# dependencies
frontend/node_modules
backend/node_modules

# build output
frontend/.next
frontend/out
backend/dist
backend/.turbo

# coverage
frontend/coverage
backend/coverage

# environment files
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# misc
.DS_Store
*.pem
*.log
*.tsbuildinfo
node_modules
